<% include header %>

<h1> Login
    <a href="/users/register" class="btn btn-primary pull-right"> Create an account</a>
</h1>

<form method="post" role="form">
    <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your name" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
            required>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
</form>



<% include footer %>