body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container-login-register {
  background-color: rgb(238, 238, 238);
  border-color: black;
  padding: 7em;
  margin-top: 20%;
  width: 80%;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
}

.container-view-thread {
  padding-left: 10em;
  padding-right: 10em
}

.thread{
  width: 40em;
}

.threadContainer{
  display: flex;
  flex-direction: column;
  align-items: center
}

.container-comment{
  background-color: rgb(238, 238, 238);
}

