body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container-login-register {
  border-color: black;
  padding: 15em;
}

.container-view-thread {
  padding-left: 10em;
  padding-right: 10em
}